<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="dir" value="e:/logs/"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${dir}/today.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${dir}%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <append>true</append>
        <prudent>false</prudent>
    </appender>

    <!--<logger name="org.hibernate.SQL" level="DEBUG"/>-->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
    <!--<logger name="org.hibernate.type" level="TRACE"/>-->

    <!--<logger name="org.hibernate.type.descriptor.sql.BasicBinder" additivity="false" level="TRACE"/>

    <logger name="org.hibernate" level="error" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>-->

    <root level="info">
        <appender-ref ref="stdout"/>
    </root>
</configuration>